attrs==21.4.0
blinker==1.4
cachelib==0.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cs50==9.0.0
distlib==0.3.4
filelock==3.6.0
Flask==2.0.3
Flask-Mail==0.9.1
Flask-Session==0.4.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.1.1
platformdirs==2.5.1
pyotp==2.6.0
pyrsistent==0.18.1
python-dotenv==0.20.0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
sqlparse==0.4.2
termcolor==1.1.0
urllib3==1.26.9
validator-collection==1.5.0
virtualenv==20.14.0
Werkzeug==2.0.3
