attrs==21.4.0
blinker==1.4
cachelib==0.6.0
click==8.1.2
cs50==9.0.0
Flask==2.1.1
Flask-Mail==0.9.1
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
MarkupSafe==2.1.1
psycopg2==2.9.3
pyrsistent==0.18.1
python-dotenv==0.20.0
SQLAlchemy==1.4.35
sqlparse==0.4.2
termcolor==1.1.0
validator-collection==1.5.0
Werkzeug==2.1.1
