<div class="post-unit" >
  <div class="post-header mb-3 d-flex flex-row align-items-center" >
    <img src="{{ url_for('static', filename='images/user-avatar.png') }}" alt="user avatar" class="avatar-icon">
    <span>{{ post.author_username }}</span>
  </div>
  
  <div class="post-body" >
    <!-- <pre class="text-start" >{{ post.description }}</pre> -->
    <p class="text-start pre" >{{ post.description }}</p>
    <img src="{{ post.photo_url }}" class="post-img" />
  </div>

</div>
<hr class="divider-dots my-4" />

