<h3>Post animals with glasses</h3>

<form action="/feed" method="post">
  <div class="mb-3 mt-4">
      <input autocomplete="off" class="form-control mx-auto" id="url" name="url" placeholder="URL" type="text" value={{ url or "" }} >
  </div>
  <div class="mb-3">
      <textarea 
        class="form-control mx-auto" 
        id="description" 
        name="description" 
        placeholder="Any thoughts you wanna share?" 
        rows="3"
        type="text"
      >{{description or ""}}</textarea>
  </div>
  <button class="btn btn-dark" type="submit">Post now</button>
</form>