body {
  height: 100%;
  max-height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#navbar {
  height: 60px;
}

#navbar-items {
  justify-content: flex-end;
  z-index: 2;
  background-color: #212529;
}

#logo-nav {
  margin-left: 5px;
  height: 50px;
}

#main-container {
  height: 80vh;
}

/* AUTH */

#form-container {
  width: 350px;
  height: 320px;
  margin: auto;
}

#header-container {
  max-width: 350px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-container h1 {
  font-size: 3rem;
}

#form-card {
  height: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#form-card.confirm-form {
  height: 230px;
}

#submit-btn {
  min-width: 85px;
}

#section-bg-img {
  background-image: url("/static/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

#section-bg-img-filter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#hero-form-container {
  height: 60vh;
}

.steps-list li {
  margin: 10px 0;
}

.divider-dots {
  max-width: 40px;
  margin: auto;
  border-top: 10px dotted #212529;
  background: transparent;
}

.landing-icons-container {
  margin-top: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.landing-icons-container span {
  font-size: 2rem;
}

.landing-icons {
  width: 50px;
}

@media (max-width: 400px) {
  #form-container {
    width: 290px;
  }

  #section-bg-img {
    background-image: url("/static/images/hero-mobile.jpg");
  }
}

@media (min-width: 768px) {
  #header-container h1 {
    text-align: start;
  }

  #header-container p {
    text-align: start;
  }
  
  #header-container ol {
    padding-left: 15px;
  }

  .landing-icons {
    width: 90px;
  }
}

/* FEED */

#feed-container {
  max-width: 600px;
}

#post-form-container {
  background: #ffc107;
  margin-bottom: 20px;
  padding: 30px 10px;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#posts-feed-container {
  margin: 20px 0;
  padding: 30px 0;
  border-radius: 3px;
  min-height: 400px;
}

#tooltip-button {
  border-radius: 17px;
  width: 35px;
  height: 35px;
}

.post-unit {
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  padding: 10px;
}

.post-header {
  gap: 10px;
}

.post-body {

}

.post-img {
  max-width: 100%;
  border-radius: 5px;
  max-height: 80vh;
}

.avatar-icon {
  width: 40px;
}

@media (min-width: 768px) {
  .post-unit {
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    background: #e9ecef;
    padding: 20px !important;
    border-radius: 3px;
  }
}

/* ABOUT */

#about-container {
  max-width: 500px;
  text-align: justify;
  padding: 0 20px 80px 20px;
}

.about-gif {
  border-radius: 3px;
}

@media (min-width: 768px) {
  #about-container {
    padding: 0 0 80px 0;
    margin-top: 70px;
  }
}