{% extends "layout.html" %}

{% block title %}
    Confirm
{% endblock %}

{% block main %}

  <div class="container mt-5" >
    <div class="card">
      <div class="card-body d-flex align-items-center justify-content-center confirm-form" id="form-card">
        <form action="/confirm" method="post">
          <p>We've sent a confirmation code email to <strong>{{ session["user_email"] }}</strong></p>
            <div class="mb-3">
                <input name="email" type="hidden" value="{{ session['user_email'] }}">
                <input
                  autocomplete="off" 
                  autofocus class="form-control mx-auto w-auto" 
                  id="confirm-code" 
                  name="confirm-code" 
                  placeholder="Enter the confirmation code" type="text"
                >
            </div>
            <button class="btn btn-dark" type="submit">Confirm</button>
        </form>
      </div>
    </div>
  </div>

  <div id="section-bg-img" >
    <div id="section-bg-img-filter" ></div>
  </div>
{% endblock %}