{% extends "layout.html" %}

{% block title %}
    Secure Dog
{% endblock %}

{% block main %}
 <div class="container h-100">
   <div class="row h-100" >
     <div class="col-md-6">
       <div id="header-container">
         <h1>Secure Dog</h1>
         <p class="text-muted" >Share your favourite animals with glasses</p>
        <div>
          <hr class="divider-dots my-4" />
        </div>
   
         <ol class="steps-list text-start" >
           <li>Register or log in with email and password</li>
           <li>Get your confirmation code by email</li>
           <li>Use the code to confirm your identity</li>
           <li>Get to the juicy part</li>
         </ol>

          <a class="btn btn-warning btn-lg" href="/register">Register Now</a>
       </div>
     </div>
 
     <div class="col-md-6">
       <div class="landing-icons-container" >
         <img src="{{ url_for('static', filename='images/dog-face.png') }}" alt="dog-face-smile" class="landing-icons">
         <span>+</span>
         <img src="{{ url_for('static', filename='images/glasses-icon.png') }}" alt="sunglasses" class="landing-icons">
         <span>=</span>
         <img src="{{ url_for('static', filename='images/love-eyes.png') }}" alt="sunglasses" class="landing-icons">
       </div>
     </div>
   </div>

 </div>
{% endblock %}