{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div id="section-bg-img" >
    <div id="section-bg-img-filter" ></div>
</div>
<div class="container" id="hero-form-container">
    <div class="row">
        <div class="col-sm-0 col-md-6" ></div>
        <div class="col-sm-12 col-md-6">
            <div class="py-5" id="form-container" >
                <div class="card">
                    <div class="card-body d-flex align-items-center justify-content-center" id="form-card">
                        <!-- FORM -->
                        <form action="/register" method="post" id="form">
                            <div class="mb-3">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email" required value={{ session["user_email"] or "" }}>
                            </div>
                            <div class="mb-3">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required value={{ username or "" }}>
                            </div>
                            <div class="mb-3">
                                <input 
                                    class="form-control mx-auto w-auto" 
                                    id="password" 
                                    name="password" 
                                    placeholder="Password" 
                                    type="password" 
                                    pattern="^(?=.*[a-z])(?=.*[A-Z])[a-zA-Z\d]{6,}$"
                                    title="Password must contain at least 6 characters, including lower/uppercase characters"
                                    required 
                                >
                            </div>
                            <div class="mb-3">
                                <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm the Password" type="password" required>
                            </div>
                            <button class="btn btn-dark mw-50" type="submit" id="submit-btn">Register</button>
                        </form>
                        <!-- FORM -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

